In [1]:
print("omda")

omda

In [2]:
st='omda'
i=19
print(st)
print(i)

omda
19

In [3]:
st
i

19

In [4]:
my_num=22
if my_num>22:
    print("greater than 22")
elif my_num<22:
    print("smaler than 22")
else:
    print("equal 22")

equal 22

In [5]:
s_names = ['Alice', 'Bob', 'Carol', 'Dave']
s_names[1]

'Bob'

In [6]:
s_names[3]

'Dave'

In [7]:
s_names[-1]

'Dave'

In [8]:
s_names[1:3]

['Bob', 'Carol']

In [9]:
s_names[2:]

['Carol', 'Dave']

In [10]:
s_names[:2]

['Alice', 'Bob']

In [11]:
s_names.append('omda')

In [12]:
s_names

['Alice', 'Bob', 'Carol', 'Dave', 'omda']

In [13]:
s_names.insert(2,'ali')
s_names

['Alice', 'Bob', 'ali', 'Carol', 'Dave', 'omda']

In [14]:
del s_names[2]
s_names

['Alice', 'Bob', 'Carol', 'Dave', 'omda']

In [15]:
for name in s_names:
    print('Hello' + name + ' . ')

HelloAlice .
HelloBob .
HelloCarol .
HelloDave .
Helloomda .

In [16]:
l_n = []
for name in s_names:
    if len(name) > 4:
        l_n.append(name)

l_n

['Alice', 'Carol']

In [17]:
s_p = []
for name_0 in s_names:
    for name_1 in s_names:
        s_p.append((name_0,name_1))
s_p

[('Alice', 'Alice'),
 ('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Alice', 'omda'),
 ('Bob', 'Alice'),
 ('Bob', 'Bob'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Bob', 'omda'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Carol', 'omda'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave'),
 ('Dave', 'omda'),
 ('omda', 'Alice'),
 ('omda', 'Bob'),
 ('omda', 'Carol'),
 ('omda', 'Dave'),
 ('omda', 'omda')]

In [19]:
s_p[1]

('Alice', 'Bob')

In [20]:
s_g = ('omda', 'english', 'A-')
s_g

('omda', 'english', 'A-')

In [21]:
s_g.append("assuit")

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
s_g = ('omda', 'english', 'A-')
name,lang,gba=s_g
print(name)
print(lang)
print(gba)

omda
english
A-

In [23]:
s_g = [
    ('omda', 'Spanish', 'A'),
    ('ali', 'French', 'C'),
    ('moh', 'Italian', 'B+'),
    ('fathy', 'Italian', 'A-'),
]
for name, su, g in s_g:
    if g.startswith('A'):
        print('Congratulations', name,
              'on getting an', g,
              'in', su)

Congratulations omda on getting an A in Spanish
Congratulations fathy on getting an A- in Italian

In [24]:
f_l = {
    'omda': 'Spanish',
    'ali': 'French',
    'saad': 'Italian',
    'fathy': 'Italian',
}
f_l['omda']

'Spanish'

In [25]:
'ali' in f_l

True

In [26]:
'aa' in f_l

False

In [27]:
f_l["fady"]='dss'
f_l

{'omda': 'Spanish',
 'ali': 'French',
 'saad': 'Italian',
 'fathy': 'Italian',
 'fady': 'dss'}

In [28]:
for k in f_l:
    v = f_l[k]
    print(k, 'is taking', v)

omda is taking Spanish
ali is taking French
saad is taking Italian
fathy is taking Italian
fady is taking dss

In [29]:
s_g = [
    ('ali', 'Spanish', 'A'),
    ('omda', 'French', 'C'),
    ('saad', 'Italian', 'B+'),
    ('fathy', 'Italian', 'A-'),
]
s_g[1]

('omda', 'French', 'C')

In [30]:
s_g[1][2]

'C'